<% include partials/header%>


<div class="container">

    <header class="jumbotron">
      <div class="container">


        <h2>All Blogs</h2>
        <p>
          <a class="btn btn-primary btn-large" href="/blogs/new">Add New Blog</a>
        </p>
        <div class="container">


    </header>


    <div class="row" style="display:flex; flex-wrap: wrap;">

        <% blogs.forEach(function(blog){  %>
            <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                <div class="captions text-center">
                  <h5><%= blog.blogTitle %></h5>
                </div>
                <img src="<%= blog.blogImage %>" />
              </div>

            </div>
        <% }) %>

    </div>

    </div>

<% include partials/footer%>
