/*blog general*/

.main-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.main-image-div img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/*simple-blog-form*/

.blog-title-container{
  height:100px;
  background-color: #eee;
}

.blog-title-input{
margin-top:30px;
}

  .main-image-container{
    margin-top: 20px;
    height:300px;
    background-color: #eee;
  }

  .main-image-input{
    margin:140px auto;
  }

  .title-container{
    margin-top:20px;
    height:160px;
    background-color: #eee;
  }

  .title-inputs{
    margin-top:50px;
  }

 .optional-grid{
   margin-top: 20px;
   padding-right: 10px;
   padding-right: 10px;
 }
  .optional-left-image-container{
    margin-top: 20px;
    height:400px;
    background-color: #eee;
  }

  .optional-right-text-container{
    margin-top: 20px;
    margin-left: px;
    height:400px;
    background-color: #eee;
  }

  .left-image-input{
      margin-top:180px;
  }

  .content-brief-container{
    margin-top: 20px;
      background-color: #eee;
      padding:15px;
  }



   .optional-right-text-container .note-editor{
    margin-top:20px;
  }

  .middle-image-container{
    margin-top:20px;
    height:300px;
    background-color: #eee;
  }

  .middle-image-input{
    margin:140px auto;
  }

  .content-extended-container{
    margin-top: 20px;
      background-color: #eee;
      padding:15px;
  }

  .additional-fields{
    margin-top:20px;

  }
