

a {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
/*form Image*/



.image-text{
  text-align: right;
    margin-top: 60px;
    margin-bottom: 140px;
    margin-left: 60px;
}

.center{
  margin:auto;
  text-align: center;
}

.invisible-link:link {
    color:black !important;
}

.invisible-link:visited {
    color:black !important;
}

.invisible-link:hover{
    color:#4582ec !important;
}


/*login register*/

.control-group{
  margin:30px;
}


.login-register{
  margin-top: 10em;
}

.form-submit-button{
  padding-top: 30px;
}


/*product show*/

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
#myCarousel{
min-height: 300px;
}
.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
margin: 0 auto;
max-width: 100%;
max-height: 300px;
}

.carousel-controls{
  background-color: blue;
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
  color: #2d8df9;
}



/*image upload*/

.upload{
   padding: 8px 10px;
   position: relative;
   border-radius: 5px;
   width:100px;
}
.upload input[type="file"]{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
}
.opacity{
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
 -moz-opacity: 0;
 -khtml-opacity: 0;
 opacity: 0;
}
/*bootstrap*/
.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: whiteSmoke;
border: 1px solid #E3E3E3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}




/*search list */

h2 {
  font-family:sans-serif;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}




.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

/*buttons*/
.btn-product-add-new{
  min-width: 250px;
}


.btn-product-list{
  min-width: 100px;
}


/*footer*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
}


/*product edit strikethrough*/

.strikethrough:checked + span{
  text-decoration:line-through;
}


.strikethrough{
  display:none;
}


/*floating seo meter*/

.seo-meter{
  color: white;
  height:60px;
  width:90px;
  background:#2d8df9;
  opacity: 0.7;
  position: fixed;
}

.seo-meter-content{
  font-size: 1.3em;
  padding-top: 15px;
  padding-left: 10px;
}


/*page loading*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}

/* fk test scores*/

.fk-test-previous{
  color:red;
}

.fk-test-current{
  color:green;
}

/*cateogry navigation button group*/

.category-nav{
  margin-bottom: 30px;
}



/*category item list*/

.category-item-list{
    list-style: none;
}

.category-item-list-item{
    border-bottom: 1px solid #dddddd;
    margin:10px;
}

.category-item-list-name{
    font-size: 1.4em;
    font-weight: 100;
}

.category-item-list-item:hover{
  color:#4582ec !important;
}


/*search */

.search-input-group .input-group-addon{
    background: white !important;
}
.search-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.search-input-group button{
    border:0;
    background:transparent;
}


.add-category-item-btn{
  margin:45px ;
}

/*jquery error message */

.error-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:9999;
    border-radius: 0;
}


/*listjs mod*/
.list-group-item{
  background-color: transparent !important;
}

.list-group-item a{
  font-weight: 200;
}

.list-group-item a:link{
    color: black !important;
}

.list-group-item a:visited{
    color: black !important;
}

.list-group-item a:hover{
    color:#4582ec !important;
    text-decoration: none;
}
