<% include ../partials/header%>


    <div class="container">

        <header class="jumbotron">
            <div class="container">


                <h2>All Product Brands</h2>
                <p>
                    <a class="btn btn-primary btn-large" href="/productbrands/new">Add New Brand</a>
                </p>
                <div class="container">


        </header>






  <% productBrands.forEach(function(productBrand){  %>
        <div class="well">
          <div class="row">
            <div class="col-xs-7">
                <h3><%= productBrand.productBrandName %>   </h3>
            </div>
            <div class="col-xs-5">
                <h3>
                  <a class="btn btn-default btn-product-list" href="/productbrands/<%=productBrand._id%>"> List</a>
                  <a class="btn btn-default btn-product-add-new" href="/productbrands/<%=productBrand._id%>/products/new"> Add new <%= productBrand.productBrandName %> </a>

                </h3>
            </div>
          </div>



        </div>
  <% }) %>






        </div>

        <% include ../partials/paginate%>

        <% include ../partials/footer%>
